<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Help</title>
</head>
<body>
Please visit <a href="https://github.com/DDMAL/e2e-omr-resources/wiki"> the e2e documentation for beginners here.</a><br>
If you are an advanced user or developer, please consult <a href="https://ddmal.music.mcgill.ca/e2e-omr-documentation/tutorial/getting-started.html"> this page</a><br>
If you have questions about the project, please contact <a href="mailto: ichiro.fujinaga@mcill.ca"> Ichiro Fujinaga</a><br>
The client admin can be contacted here: <a href="mailto: email_goes_here"> Lab and Client Manager</a>
</body>
</html>
